spring:
  datasource:
    url: jdbc:mysql://localhost:3306/financiera_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: banking_user
    password: Banking123!

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080